@layer components {
  .about-section {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
  }

  .about-image-wrapper {
    position: relative;
    width: 100%;
    height: clamp(449px, calc(448.890047px + 10.99531vw), 660px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 54px;
  }

  .about-image-wrapper img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  .about-message-wrapper {
    width: 100%;
    background-color: var(--color-theme);
    padding: 18px;
    text-align: center;
    z-index: 2;
  }

  .about-message {
    color: #fff;
    font-size: clamp(16px, calc(15.992705px + 0.729547vw), 30px);
    font-weight: 500;
    margin: 0;
    line-height: 1.4;
  }
}
