@layer components {
  .hero-section {
    width: 100%;
    position: relative;
    background: #E8E9EB;
    margin-bottom: clamp(56px, calc(55.979156px + 2.084419vw), 96px);
  }

  .hero-section-container {
    width: 100%;
    max-width: max-content;
    height: clamp(306px, calc(254px + 13.333333vw), 510px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .hero-content-wrapper {
    height: 100%;
    width: 100%;
    max-width: 1151px;
    padding-right: 38px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .hero-image-wrapper {
    height: 100%;
    width: 100%;
    max-width: 685px;
  }

  .hero-image-wrapper img {
    object-fit: cover;
    object-position: right;
  }

  .hero-text-content {
    width: max-content;
    z-index: 4;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-text-content .title {
    font-size: clamp(40px, calc(39.968734px + 3.126628vw), 100px);
    font-weight: 700;
    line-height: 1.1;
    color: #000;
    text-align: center;
    letter-spacing: -1px;
  }

  .hero-content-title span {
    font-weight: 300;
  }

  .hero-content-subtitle {
    width: 100%;
    font-size: clamp(12px, calc(11.993226px + 0.677436vw), 25px);
    font-weight: 700;
    color: var(--color-theme);
    letter-spacing: 30%;
    font-family: var(--font-sans-rounded);
  }

  .hero-content-discount {
    font-size: clamp(32px, calc(31.985409px + 1.459093vw), 60px);
    font-weight: 700;
    color: var(--color-theme);
    line-height: 1;
  }

  .pagination-wrapper {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    z-index: 2;
    margin-bottom: 8px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .pagination-span {
    width: 7px;
    height: 7px;
    background: #838383;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .pagination-span.active {
    background-color: #333;
  }

  /* TABLET / DESKTOP (>=768px) */

  @media (min-width: 768px) {
    .hero-section-container {
      justify-content: flex-end;
    }
    .hero-image-wrapper img {
      object-position: center top;
    }
    .hero-text-content .title {
      display: flex;
      gap: -8px;
    }
  }
}
