@layer components {
  #main-product {
    background-color: #dedede;
    padding-top: clamp(28px, calc(22.392157px + 1.437908vw), 50px);
    margin-bottom: clamp(56px, calc(45.803922px + 2.614379vw), 96px);
    padding-inline: 22px;
  }
  .main-product > div {
    width: 100%;
    max-width: 1177px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 768px) {
    .main-product > div {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@layer components {
  .main-product-wrapper {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-bottom: clamp(56px, calc(45.803922px + 2.614379vw), 96px);
  }

  .main-product-image-wrapper {
    min-width: 349px;
    min-height: 349px;
    position: relative;
    flex: auto;
    background: #c2c2c2;
    padding-inline: 21px;
    padding-top: 28px;
  }

  .main-product-image-wrapper img {
    width: 100%;
    height: auto;
  }

  .main-product-content {
    width: 100%;
    max-width: 476px;
    max-height: 567px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-sans-rounded);
    padding-inline: 24px;
  }

  .main-product-title {
    width: 100%;
    text-align: left;
    font-size: clamp(24px, calc(22.470588px + 0.392157vw), 30px);
    font-weight: 700;
    color: var(--color-text-foreground);
    text-transform: uppercase;
    margin-bottom: clamp(18px, calc(17.997916px + 0.208442vw), 22px);
  }

  .main-product-content p {
    font-size: clamp(14px, calc(12.980392px + 0.261438vw), 18px);
    color: var(--color-text-md-foreground);
    line-height: 1.4;
    /* font-family: var(--font-sans-rounded); */
  }
}

@layer components {
  #main-product-wrapper {
    gap: 21px;
    padding-bottom: clamp(28px, calc(22.392157px + 1.437908vw), 50px);
  }
  #main-product-image-wrapper {
    position: relative;
  }
  #main-product-image-wrapper img {
    width: 100%;
    max-width: clamp(349px, calc(271.764706px + 19.803922vw), 652px);
    height: clamp(349px, calc(252.392157px + 24.771242vw), 728px);
  }
  #main-product-title {
    font-size: clamp(20px, calc(17.45098px + 0.653595vw), 30px);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  #main-product-content {
    height: 100%;
  }

  /* Features List */
  #features-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .feature-item {
    display: flex;
    align-items: center;
    gap: 14px;
    text-align: left;
    height: auto;
  }
  .feature-icon {
    width: 60px;
    height: 60px;
    min-width: 60px;
    border-radius: 50%;
    background-color: var(--color-theme);
  }
  .feature-icon svg {
    width: 30px;
    height: 30px;
    color: white;
  }
  .feature-text {
    font-size: clamp(12px, calc(10.470588px + 0.392157vw), 18px);
    color: var(--color-text-md-foreground);
    line-height: 1.4;
  }
}
