/*estilos compartilhados*/
@layer components {
  .main-product > div {
    width: 100%;
    max-width: 1177px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .main-product > div {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

@layer components {
  .main-product-wrapper {
    gap: clamp(21px, calc(16.794118px + 1.078431vw), 37.5px);
    margin-bottom: 56px;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 768px) {
    .main-product-wrapper {
      padding-right: 20px;
    }
  }

  @media (min-width: 915px) {
    .main-product-wrapper {
      padding-inline: 24px;
    }
  }

  @media (min-width: 1040px) {
    .main-product-wrapper {
      padding-inline: 0;
    }
  }

  .main-product .image-wrapper {
    height: clamp(390px, calc(299px + 23.333333vw), 747px);
    width: 100%;
    position: relative;
    background: #c2c2c2;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  @media (min-width: 430px) {
    .main-product .image-wrapper {
      width: clamp(390px, calc(323.215686px + 17.124183vw), 652px);
    }
  }

  @media (max-width: 390px) {
    .main-product .image-wrapper {
      width: 100%;
    }
  }

  .main-product .product-image {
    width: calc(100% - 42px);
    height: calc(100% - 56px);
    margin-left: 4.8%;
    /* margin-top: 0.03%; */
  }

  .main-product .content {
    max-width: clamp(390px, calc(323.215686px + 17.124183vw), 652px);
    max-height: 567px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-sans-rounded);
    padding-inline: 24px;
    box-sizing: border-box;
    line-height: 1.4;
  }

  @media (min-width: 430px) {
    .main-product .content {
      padding-inline: 0;
    }
  }

  @media (min-width: 768px) {
    .main-product .content {
      width: clamp(343px, calc(306.294118px + 9.411765vw), 487px);
    }
  }

  .main-product-title {
    width: 100%;
    text-align: left;
    font-size: clamp(24px, calc(22.470588px + 0.392157vw), 30px);
    font-weight: 700;
    color: var(--color-text-foreground);
    text-transform: uppercase;
    margin-bottom: clamp(18px, calc(17.997916px + 0.208442vw), 22px);
  }

  .main-product .content p {
    font-size: clamp(14px, calc(12.980392px + 0.261438vw), 18px);
    color: var(--color-text-md-foreground);
    line-height: 1.4;
    /* font-family: var(--font-sans-rounded); */
  }

  @media (min-width: 768px) {
    .main-product > div {
      width: 100%;
      grid-template-columns: 1fr 1fr;
    }
    .main-product .content {
      padding-inline: 0;
      margin-inline: 0;
    }
  }
}

@layer components {
  #main-product {
    background-color: #dedede;
    padding-top: clamp(28px, calc(22.392157px + 1.437908vw), 50px);
    margin-bottom: clamp(46px, 6vw, 56px);
    padding-inline: 22px;
  }

  #main-product-wrapper {
    gap: clamp(21px, calc(13.098039px + 2.026144vw), 52px);
    padding-bottom: clamp(28px, calc(22.392157px + 1.437908vw), 50px);
  }

  #main-product-image-wrapper {
    width: 100%;
    max-width: clamp(390px, calc(323.215686px + 17.124183vw), 652px);
    min-height: 349px;
    height: clamp(349px, calc(252.392157px + 24.771242vw), 728px);
    flex: auto;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
  }

  #main-product-image-wrapper img {
    width: 100%;
    height: 100%;
  }

  #main-product-title {
    font-size: clamp(20px, calc(17.45098px + 0.653595vw), 30px);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 18px;
    color: #4f4f4f;
  }

  #main-product-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
    align-items: center;
    margin: 0 auto;
    line-height: 1.4;
  }

  @media (min-width: 430px) {
    #main-product-content {
      width: clamp(390px, calc(323.215686px + 17.124183vw), 652px);
    }
  }

  @media (min-width: 768px) {
    #main-product-content {
      max-width: clamp(350px, calc(319.411765px + 7.843137vw), 470px);
      margin: 0;
      order: -1;
    }
    #main-product-image-wrapper {
      min-width: 390px;
      width: clamp(390px, calc(323.215686px + 17.124183vw), 652px);
    }
  }

  /* Features List */
  #features-list {
    display: flex;
    flex-direction: column;
    gap: clamp(21px, calc(13.607843px + 1.895425vw), 50px);
  }

  .feature-item {
    display: flex;
    align-items: center;
    gap: 14px;
    text-align: left;
    height: auto;
  }

  .feature-icon {
    width: 60px;
    height: 60px;
    min-width: 60px;
    border-radius: 50%;
    background-color: var(--color-theme);
  }

  .feature-icon svg {
    width: 30px;
    height: 30px;
    color: white;
  }

  .feature-text {
    font-size: clamp(12px, calc(10.470588px + 0.392157vw), 18px);
    line-height: 1.4;
    color: #4f4f4f;
  }

  @media (min-width: 768px) {
    #main-product-content {
      margin: 0;
    }
    #main-product-image-wrapper {
      margin: 0;
    }
  }
}
