@layer components {
  .newsletter-wrapper {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1;
    padding-inline: 16px;
  }

  .newsletter-title {
    font-size: clamp(16px, calc(15.997916px + 0.208442vw), 20px);
    font-weight: 700;
    color: #000;
    margin-bottom: 16px;
    text-align: center;
  }

  .newsletter-title > span {
    color: var(--color-theme);
  }

  .newsletter-form {
    width: 100%;
    background-color: var(--color-medium-bg, #f5f5f5);
    padding: 38px 16px;
    margin-inline: auto;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 16px;
  }

  .newsletter-form input,
  .newsletter-form button {
    height: 48px;
  }

  .newsletter-form input {
    width: 100%;
    padding-inline: 1.25rem;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: 1rem;
    background-color: #fff;
    outline: none;
    color: #333;
  }

  .input-wrapper > input::placeholder {
    color: #888;
  }

  .checkbox-wrapper {
    width: 100%;
    color: #555;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #newsletter-checkbox {
    width: 16px;
    height: 16px;
    accent-color: var(--color-theme);
    cursor: pointer;
    border: 1px solid var(--color-border);
    outline: none !important;
    border-radius: 4px !important;
    flex-shrink: 0;
  }

  .checkbox-wrapper label {
    cursor: pointer;
    line-height: 1.4;
    font-weight: 700;
    font-size: 12px;
  }

  .checkbox-wrapper label span {
    text-decoration: underline;
    color: #555;
  }

  .newsletter-form button:hover {
    background-color: #004ecc;
  }

  .newsletter-form button:active {
    transform: scale(0.98);
  }

  @media (min-width: 768px) {
    .newsletter-form {
      grid-template-columns: 1fr 1fr;
      max-width: 840px;
    }
    .checkbox-wrapper {
      justify-content: center;
    }
  }

  @media (min-width: 1084px) {
    .newsletter-form {
      grid-template-columns: repeat(3, 1fr) 0.43fr;
      background: #dedede;
      max-width: none;
    }
  }
}
