@layer components {
  footer {
    width: 100%;
    color: var(--color-text-md-foreground);
    margin-top: 48px;
    background: #f5f5f5;
  }

  .footer-main-wrapper {
    width: 100%;
    max-width: 1163px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
  }

  .footer-social-media-wrapper {
    width: 194px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
  }

  .footer-social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .footer-payments-method {
    height: 64px;
    width: clamp(288px, 50%, 545px);
    box-sizing: content-box;
    margin-inline: auto;
    padding-top: clamp(48px, calc(43.921569px + 1.045752vw), 64px);
    padding-bottom: 40px;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 20px;
    position: relative;
  }

  .footer-more-info-container {
    width: 100%;
    background-color: var(--color-light-bg);
  }

  .footer-more-info-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(24px, calc(19.921569px + 1.045752vw), 40px);
    padding-inline: 16px;
    padding-bottom: clamp(16px, calc(9.882353px + 1.568627vw), 40px);
    gap: 40px;
    text-align: center;
  }

  .footer-more-info-wrapper p {
    font-size: var(--text-xs);
    line-height: 1.6;
    max-width: 800px;
  }

  .footer-more-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  @media screen and (min-width: 768px) {
    .footer-main-wrapper {
      padding-inline: 40px;
    }
  }

  /* TABLET+ */
  @media screen and (min-width: 1024px) {
    .footer-main-wrapper {
      max-width: 1163px;
      flex-direction: row;
      justify-content: space-between;
      gap: 142px;
      align-items: start;
    }
  }
}
