@layer components {
  footer {
    width: 100%;
    background-color: var(--color-medium-bg);
    color: var(--color-text-md-foreground);
    margin-top: 48px;
    padding-top: 40px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer-wrapper > div {
    width: 100%;
    max-width: 1163px;
    margin: 0 auto;
  }

  .footer-social-media-wrapper {
    width: 194px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
  }

  .footer-social-media {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* MOBILE */
  .footer-link-group-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    border-top: 1px solid var(--color-border);
  }

  .ul-footer {
    padding-inline: 12px;
  }

  .ul-footer-header {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 12px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--color-border);
  }

  .ul-footer-header h4,
  .ul-footer-header h5 {
    font-size: var(--text-lg);
    font-weight: 700;
    color: var(--color-text-foreground);
  }

  .footer-link-desktop {
    display: none;
  }

  .footer-link-mobile {
    display: block;
  }

  .ul-footer {
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 16px;
  }

  .ul-footer.active {
    display: flex;
    padding: 16px 0;
  }

  .ul-footer li h5 {
    font-size: var(--text-base);
    font-weight: 400;
    cursor: pointer;
    transition: color 0.2s;
  }

  .ul-footer li h5:hover {
    color: var(--color-theme);
  }

  .ul-footer li h6 {
    display: none;
  }

  .ul-footer li p {
    font-size: var(--text-sm);
    margin-top: 4px;
    color: var(--color-text-md-foreground);
  }

  .ul-footer-header button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
  }

  .footer-payments-method {
    min-width: 288px;
    max-width: 545px;
    height: 65px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
  }

  .footer-more-info-container {
    width: 100%;
    background-color: var(--color-light-bg);
  }

  .footer-more-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-inline: 16px;
    padding-bottom: 16px;
    gap: 24px;
    text-align: center;
  }

  .footer-more-info-wrapper p {
    font-size: var(--text-xs);
    line-height: 1.6;
    max-width: 800px;
  }

  .footer-more-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  /* TABLET+ */

  @media (min-width: 768px) {
    .footer-link-group-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 32px;
      border: none;
    }
    .ul-footer-header {
      border: none;
    }
    .footer-link-desktop {
      display: block;
    }

    .footer-link-mobile {
      display: none;
    }

    .ul-footer-header button {
      display: none;
    }

    .ul-footer {
      display: flex;
    }
  }
}
