@layer theme, resets, typography, components, utilities;
/* variáveis */
@layer theme {
  :root {
    /* fontes */
    --font-sans: "Nunito Sans", sans-serif;
    --font-sans-rounded: "Nunito", sans-serif;
    /* cores */
    --color-theme: #005cff;
    --color-purple: #6220c1;
    --color-border: #d5d5d5;
    --color-text-foreground: #000;
    --color-text-md-foreground: #303030;
    --color-light-bg: #fff;
    --color-text-light-foreground: #fff;
    --color-medium-bg: #f5f5f5;
    --color-main-product-ad-bg: #dedede;
    --color-home-hero-bg: #e7e7ea;
    --color-product-discount-label-bg: #5ec0be;
    --color-new-product-label-bg: #00264e;
    /* tamanhos de fontes */
    --text-xs: 0.75rem; /*12*/
    --text-sm: 0.875rem; /*14*/
    --text-base: 1rem; /*16*/
    --text-lg: 1.125rem; /*18*/
    --text-xl: 1.25rem; /*20*/
    --text-2xl: 1.5rem; /*24*/
    --text-3xl: 1.75rem; /*28*/
    --text-5xl: 2rem; /*32*/
  }
}

/* resets */
@layer resets {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    scrollbar-width: none;
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none !important;
    -moz-user-drag: none !important;
    -ms-user-drag: none !important;
  }
  body {
    max-width: 1920px;
    margin-inline: auto;
  }
}

/*tipografia*/
@layer typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans-rounded);
  }
  body {
    font-family: var(--font-sans);
    color: var(--text-foreground);
  }
}

@layer components {
  .h-40 {
    height: 40px;
  }
  .h-20 {
    height: 20px;
  }
  button {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 700;
  }

  svg {
    display: inline-flex !important;
  }

  .button-primary {
    width: 100%;
    height: 40px;
    padding-inline: 12px;
    background-color: var(--color-theme);
    font-size: var(--text-base);
    font-weight: 700;
    color: white;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
  }
  .btn-outline {
    background-color: transparent;
    border: 1.25px solid white;
    color: white;
  }
  .button-icon {
    height: 36px;
    width: 36px;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/*mobile e desktop*/
@layer utilities {
  .for-mobile {
    display: block;
  }
  .not-for-mobile {
    display: none;
  }

  @media (min-width: 768px) {
    .for-mobile {
      display: none;
    }
    .not-for-mobile {
      display: block;
    }
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
