@layer components {
  header{
    width: 100%; 
  }
  .promotional-topbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-sm);
    text-align: center;
    padding: 8px 16px;
    background-color: var(--color-theme);
    color: var(--color-text-light-foreground);
  }

  .header-wrapper {
    height: auto;
    max-width: 1280px;
    margin-inline: auto;
    background-color: var(--color-light-bg);
    position: relative;
    z-index: 100;
  }

  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 24px;
    font-weight: 600;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header-search {
    margin-top: 12px;

    display: flex;
  }

  .header-search input {
    flex: 1;
  }

  @media (min-width: 768px) {
    .header-wrapper {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .header-top {
      gap: 40px;
      order: 3;
    }

    .header-search {
      margin-top: 0;
      flex: 1;
    }
  }
}