@layer components {
  @media screen and (min-width: 768px) {
    nav {
      width: 100%;
      max-width: 1260px;
      height: max-content;
      margin-inline: auto;
      position: relative;
      z-index: 10;
    }

    .fast-menu {
      width: 100%;
      margin-inline: auto;
      display: flex !important;
      align-items: center;
      gap: 45px;
      padding: 0 24px;
      margin-top: 8px;
      margin-bottom: 18px;
      position: relative;
    }

    @media screen and (min-width: 1024px) {
      .fast-menu {
        padding: 0 32px;
      }
    }

    .cat-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      border: none;
      height: 100%;
      font-weight: 700;
      font-size: 14px;
      cursor: pointer;
      font-family: inherit;
    }

    .nav-list {
      padding-left: 0;
      display: flex;
      list-style: none;
      gap: 24px;
      list-style-type: none;
      list-style-position: inside;
    }

    .nav-list a {
      text-decoration: none;
      color: var(--color-text-foreground);
      font-weight: 400;
      font-size: 14px;
      transition: color 0.2s;
    }

    .nav-list a:hover {
      color: var(--color-theme);
    }

    /* menu departments */
    nav > div {
      width: 100%;
      padding-inline: 23px;
      height: max-content;
      position: absolute;
      top: 38px;
      left: 0;
    }

    @media screen and (min-width: 1024px) {
      nav > div {
        padding-inline: 31px;
      }
    }

    .menu-container {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: space-between;
      background: #fff;
      border-radius: 8px;
      overflow: hidden;
    }

    .menu-container > .menu-wrapper {
      display: flex;
      gap: 24px;
    }

    .menu-container menu {
      display: flex;
      flex-direction: column;
    }

    .menus-wrapper {
      display: flex;
      gap: 34px;
    }

    .departments-menu {
      width: 234px;
      height: 333px;
      display: flex;
      list-style: none;
      padding: 20px 13px 11px 16px;
      background: #f5f5f5;
      gap: 14px;
    }

    .departments-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 12px;
      overflow-y: scroll;
    }

    .departments-list > button {
      width: 100%;
      font-weight: 400;
      justify-content: space-between;
      color: var(--color-text-foreground);
      font-family: var(--font-sans);
      font-size: 14px;
      border-radius: 0;
    }

    .departments-list > button.active {
      font-weight: 700;
      color: var(--color-theme);
    }

    .scrollbar-y {
      width: 3px;
      height: 100%;
      background-color: #e3e3e3;
      border-radius: 2px;
    }

    .scrollbar-y-thumb {
      width: 3px;
      height: 70%;
      background-color: #cecece;
      border-radius: 2px;
    }

    /* menu de categories */
    .cats-menu > .title {
      font-size: 16px;
      margin-top: 19px;
      margin-bottom: -1px;
    }

    .ul-wrapper {
      display: flex;
      gap: clamp(24px, calc(-2.254902px + 6.732026vw), 127px);
      margin-top: 18px;
    }

    .ul-wrapper ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style: none;
    }

    .list-title > .title {
      font-size: 14px;
      font-weight: 700;
      color: var(--color-theme);
    }

    .ul-wrapper > ul > li > a {
      font-size: 14px;
      font-weight: 400;
      color: var(--color-text-foreground);
    }

    .menu-image-wrapper {
      width: 236px;
      height: 298px;
      margin: 24px 20px 11px 0;
      padding-left: 27px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 13.18px;
    }

    .menu-image-wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.3)
      );
      z-index: 1;
    }

    .menu-image-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 24px;
    }

    .menu-image-wrapper p {
      width: 127px;
      height: 155px;
      font-family: var(--font-sans);
      font-weight: 300;
      line-height: 27px;
      letter-spacing: -0.5%;
      color: white;
      z-index: 2;
      font-size: 24px;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .menu-image-wrapper span {
      font-size: var(--text-base);
      font-weight: 500;
      color: white;
      z-index: 2;
      font-size: 24px;
    }

    .menu-image-wrapper .btn-outline {
      width: 110px;
      height: 38px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 700;
      color: white;
      font-weight: 600;
      z-index: 2;
    }
  }
}
